<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <h1>Bonjour, <%= name %>!</h1>
    <p>Merci de nous contacter. Voici les détails de votre demande :</p>
    <ul>
      <li>Sujet : <%= subject %></li>
      <li>Message : <%= message %></li>
    </ul>
  </body>
</html>
